.grid-cards{
  display: grid;
  padding: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 20px;
  max-width: 100%;
}

mat-card-content{
  padding: 1.5rem;
}

mat-card:hover{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s ease-in-out;
  transition-delay: .5s;
  position: relative;
  bottom: 6px;
  right: 3px;
  box-shadow:0 4px 4px #999;
}
