<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/dashboard"><mat-icon>arrow_back</mat-icon></button>
  <span>Materiais</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-card>
  <mat-card-title>Lista de Tintas</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="materialGroup">
        <th mat-header-cell *matHeaderCellDef>Grupo</th>
        <td mat-cell *matCellDef="let material">{{ material.materialGroup}}</td>
      </ng-container>


      <ng-container matColumnDef="materialName">
        <th mat-header-cell *matHeaderCellDef>
          Nome do Material
          <button mat-icon-button (click)="reagrupar('materialName')">
            <mat-icon>{{ getSortIcon('materialName') }}</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let material; let i = index">
          <div [formGroup]="editForm">
            <ng-container *ngIf="editIndex === i; else readMaterial">
              <input matInput [formControlName]="'materialName'">
            </ng-container>
          </div>
          <ng-template #readMaterial>
            {{material.materialName}}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="materialCategory">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let material">{{ material.materialCategory }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let material">{{ material.quantity === 0 ? 'Em Falta' : material.quantity }}</td>
      </ng-container>




      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let material; let i = index">
          <ng-container *ngIf="editIndex === i; else readActions">
            <button
              mat-button
              matTooltip="Salvar a edição"
              (click)="saveEdit(material.id)">
              <mat-icon>save</mat-icon>
            </button>
            <button matTooltip="Cancelar" color="warn" mat-button (click)="cancelEdit()"><mat-icon>cancel</mat-icon></button>
          </ng-container>
          <ng-template #readActions>
            <button *ngIf="!isAdmin" [disabled]="material.quantity === 0" mat-button color="primary"
              (click)="useMaterial(material)">
              Usar
            </button>
            <button matTooltip="Editar"  *ngIf="isAdmin" mat-button (click)="startEdit(i)">
              <mat-icon>edit</mat-icon>
            </button>
            <button matTooltip="Remover" *ngIf="isAdmin" mat-button color="warn" (click)="removeMaterial(material.materialName)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </td>
      </ng-container>


      <!--<ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let material">
            <button *ngIf="isAdmin" mat-button color="warn" (click)="removeMaterial(material.materialName)">
              <mat-icon>delete</mat-icon>
            </button>
            <button *ngIf="!isAdmin" [disabled]="material.quantity === 0"  mat-button color="primary" (click)="useMaterial(material)">
              Usar
            </button>

          </td>
        </ng-container>-->


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>



<button mat-fab color="primary" class="fab-button" (click)="openFab()">
  <mat-icon>add</mat-icon>
</button>
